<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-9">
        <p><a href="~/odata/Products?$top=5">~/odata/Products?$top=5</a></p>
        <p><a href="~/odata/Products?$select=ProductID,Name&$top=5">~/odata/Products?$select=ProductID,Name&$top=5</a>
        <p><a href="~/odata/Customers?$expand=Store&$top=5">~/odata/Customers?$expand=Store&$top=5"</a>
        <p><a href="~/odata/Customers?$expand=Store($select=Name)&$select=CustomerID&$top=5">~/odata/Customers?$expand=Store($select=Name)&$select=CustomerID&$top=5</a>
        <p><a href="~/odata/Customers?$expand=Store($select=Name)&$top=5">~/odata/Customers?$expand=Store($select=Name)&$top=5</a>
    </div>
</div>
